.bloks{
    width: 600px;
    height: 100vh;
    background: lightcyan;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;
}
.firstpart{
    width: 100%;
    height: 200px;
    background: blue;

}

.secondpart{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px 0;
}

.widgets{
    width: 180px;
    height: 100%;
    background: blueviolet;
}

.thirdpart{
    width: 100%;
    height: 250px;
    background: blue;
}